.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
reports/
dist/
.DS_Store
.env
.env.*
.whl
.vscode/
docs/build/
docs/source/reference/generated/
build/
